# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Junkjunkjunk.

*.h.gch
*.hpp.gch
*~
.DS_Store
*.d
\#*

*.DS_Store
*~
#*#src/.settings
src/.settings/
src/.settings/language.settings.xml
.cproject
.project
GraphicsProject/test.hpp
src/qMakefile
*.user

src/Binaries/partTest2
src/boost2/

